*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #f2f2f2;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:90px;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    padding-inline: 130px;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 85%;
}
.logo{
    font-size: 30px;
}
.list-mune{
    display: flex;
    gap: 37px;
}
.mun{
    color: #7f7f90;
    text-decoration: none;
    font-size:  17px;
    
}
.mun:hover{
   color: #4b4b4d;
}
.book{
    background-color: red;
    padding: 7px 20px;
    font-size: 19px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
.book:hover{
    background-color: rgba(255, 0, 0, 0.819);
    
}
.book a{
    color: white;
    text-decoration: none;
}
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 635px;
    background-color: #f2f2f2;
    padding-top: 100px;
}
.sec1-tit{
    font-family: Ink Free;
    font-size:50px;
    color: rgb(55, 55, 63);
}
.sec1-pr{
   color: color(srgb 0.129412 0.145098 0.160784 / 0.7);
   font-size: 22px;
   font-weight: 400;
   margin-top: 10px;
   
}
.div1-sec1-dv2{
    display: flex;
    margin-top: 30px;
}
.div-watch{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.div-watch i{
    font-size: 30px;
    font-weight: lighter;
    color: red;
    cursor: pointer;
    
}
.Watch{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}
.div2-sec1-img img{
    width: 522px;
    animation-name: ani;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes ani{
    0% {
        margin-top: -30px;
    }
    50% {
       margin-top: 0px;
    }
    100%{
       margin-top: -30px;
    }
}
.vd-watch{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.866);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.vd-watch i{
    color: rgba(255, 255, 255, 0.197);
    font-size: xx-large;
    position: absolute;
    right: 50px ;
    top: 40px;
    cursor: pointer;
}
.vd-watch i:hover{
    color:  rgba(255, 255, 255, 0.312);
}
.vd-watch video{
    width: 1000px;
    
    
}
.div-login{
    background-color: rgba(0, 0, 0, 0.782);
    width: 1550px;
    height: 729px;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login{
    width: 450px;
    height: 560px;
    background-color: rgb(181, 12, 12);
    border-radius:  40% 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    

}
.tit-div{
    display: flex;
    color: white;
    align-items: center;
    margin-top: 50px;
}
.tit-div i{
    font-size: 30px;
    position: relative;
    left: 120px;
    top: -40px;
    cursor: pointer;
}
.tit-div i:hover{
    color: rgba(255, 255, 255, 0.79);
}
.log-tit{
    font-size: 60px;
}
.log-inp{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}
.log-inp input{
    height: 50px;
    margin-top: 10px;
    padding-left: 40px;
    font-size: larger;
    background: none;
    border: none;
    color: white;
    border-bottom:white 2px solid ;
}
.log-inp input::placeholder{
    color: white;
  
}
.log-inp i{
   color: white;
   font-size: x-large;
   position: relative;
   top: 48px;
   left: 3px;
   width: fit-content;
}

.div-log-bt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.log-bt{
    background-color: rgb(122, 6, 6);
    color: white;
    font-size: x-large;
    width: 250px ;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}
.log-bt:hover{
    background-color: rgba(122, 6, 6, 0.801);

}
.log-pr{
    margin-top: 10px;
    color: #f2f2f275;
}
.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 950px;
}
.s2-pr1{
    font-size: 18px;
    color: color(srgb 0.129412 0.145098 0.160784 / 0.5);

}
.tit-se2{
    font-size: 48px;
    color:  rgb(55, 55, 63);
    font-family: Ink Free;
    margin-top: 15px;

}
.div2-sec2{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    height: 700px;
    
}
.div2-sec2-dv1{
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.div2-sec2-dv1 img{
    width: 100%;
}
.sec2-book{
    width: 100%;
    height: 100%;
    border: #4b4b4d 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-tit{
    color:  rgb(55, 55, 63);
    font-size: 24px;
}
.book-num{
    color:  rgb(206, 18, 18);
    font-size: 28px;
}

.dv2-dv1{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 18px;
    width: 538px;
}
.dv2-pr1{
    font-size: 19px;
    color: color(srgb 0.564706 0.572549 0.580392);
}
.dv2-pr2 i{
    color: red;
    font-size: larger;
    margin-right: 10px;
}
.dv2-pr3{
    font-size: larger;
}



.dv2-dv2 img{
    width: 520px;
    height: 350px;
    margin-top: 50px;
    
}
.sec2-div-play{
    background-color: rgba(255, 0, 0, 0.404);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -230px;
    left: 217px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}
.sec2-div-play:hover{
    background-color: red;
    
}
.dv2-bg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dv2-bg #l{
    color: white;
    font-size: 33px;
    position: relative;
    left: -105px;
    z-index: 1;
   
}
.dv2-bg #ii{
    color: white;
    font-size: 33px;
    margin-left: 30px;
    transition: 0.5s;
    z-index: 2;
    

}
.dv2-bg #ii:hover{
    font-size: 250px;
    color: rgba(255, 0, 0, 0);

}
.sec3{
    height: 450px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.sec3-div1{
    background-color: rgb(223, 13, 13);
    width: 450px;
    height: 340px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sec3-tit1{
    font-size: 34px;
    margin-top: 40px;
}
.sec3-div1-pr1{
    font-size: larger;
}
.sec3-but1{
    font-size: large;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.sec3-but1:hover{
    background-color: white;
    color: red;
}
.sec3-div2{
    width: 270px;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.sec3-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.105);
    margin-top: 40px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3-icon:hover {
    background-color:  rgb(223, 13, 13);
}
.sec-tit2{
    font-size: 20px;
    color: rgb(55, 55, 63);
}
.sec3-div2-pr1{
    font-size: 19px;
    width: 250px;
    color: color(srgb 0.129412 0.145098 0.160784 / 0.7);
}
.sec3-icon i{
    color: red;
    font-size: xx-large;
    transition: 0.5s;
}
.sec3-icon i:hover{
    color: white;
}
.sec4{
    background-image: url(../Yummy/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: center;
}
.sec4-bg{
    background-color: rgba(0, 0, 0, 0.449);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 230px;
}
.sec4-div-num{
    text-align: center;
}
.sec4-num{
    font-size: 65px;
}
.sec4-pr{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.534);
}
.sec5{
    height: 600px;
    text-align: center;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 40px;
}
.go-up{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    background-color: red;
    border-radius: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.go-up a i{
    font-size: larger;
    color: white;
} 
.cont{
    background: none;
    color: rgba(255, 255, 255, 0.544);
    font-size: 55px;
    border: none;
    cursor: pointer;
}
.cont:hover{
    color: rgba(255, 255, 255, 0.799);
}
.prev{
    position: relative;
    left: -20%;
    top: 280px;
}
.next{
    position: relative;
    left: 150px;
}
.item1 img{
    width:600px ;
    margin-left: 110px;
}
.iv{
    width: 2000px;
}
.div1-sec5-dv1{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 20px;
    text-align: center;
    width: fit-content;
    position: relative;
    left:35% ;
}
.mune-div-tit1{
    display: flex;
    gap: 45px;
  
}
.munee{
    font-weight: 300;
    font-size: larger;
    border-bottom:2px rgba(105, 105, 105, 0.368) solid ;
    padding-bottom: 10px;
    cursor: pointer;
}
.mune-tit{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mune-tit h2{
    color: rgb(206, 18, 18);
     font-family: Ink Free;
    font-size: 38px;
}
.mune-tit-pr1{
    font-size: 18px;
    color: color(srgb 0.129412 0.145098 0.160784 / 0.8);
    
}
.div1-sec5-dv2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mune-ch{
    display: flex;
    gap: 150px;
    margin-top: 50px;
}
.mune-img img{
    width: 300px;
}
.mune-img h2{
    font-size: 27px;
    font-weight:200 ;
    margin-top: 10px;
}
.mune-img p{
    font-size: 18px;
    font-weight:200 ;
    color:rgba(128, 128, 128, 0.768) ;
    margin-top: 5px;

}
.prs{
    color: red;
    font-size: 35px;
    margin-top: 7px;
}
.sec6{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.123);
    text-align: center;
}
.div1-sec6{
    margin-top: 40px;
}
.div1-sec6 h3{
    color: rgba(128, 128, 128, 0.599);
    font-size: 17px;
}
.div1-sec6 h1{
   margin-top: 10px;
   font-family: 'Ink Free';
   color:  rgb(55, 55, 63);
   font-size: 42px;
}
.div2-sec6{
    margin-top: 50px;
    width: 900px;
    height: 270px;
}
.carusel3{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    border-left: gray 5px solid;
   

}
.cru3-div1{
    width: 590px;
    text-align: left;
    margin-left: 20px;
}
.chnoo{
    font-size: 22px;
    font-weight: 300;
    margin-top: -40px;
}
.csru-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    margin-left: 20px;
    transition: 0.5s;
}
.num{
     font-family: Ink Free;
     margin-top: 10px;
     font-size: larger;
}
.chno{
    color: rgba(128, 128, 128, 0.467);
    font-size: 15px;
    margin-top: 10px;

}
.testimonial-stars{
    position: relative;
    top: 20px;
}
.st-bt{
    background-color: rgba(128, 128, 128, 0.503);
    width: 14px;
    height:14px;
    border-radius: 50%;
    border: none;
    margin-left: 1%;
    cursor: pointer;
}
.st-bt:hover{
    background-color: rgba(128, 128, 128, 0.801);
}