*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:90px;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    padding-inline: 130px;
}
.logo{
    font-size: 30px;
}
.list-mune{
    display: flex;
    gap: 37px;
}
.mun{
    color: #7f7f90;
    text-decoration: none;
    font-size:  17px;
    
}
.mun:hover{
   color: #4b4b4d;
}
.book{
    background-color: red;
    padding: 7px 20px;
    font-size: 19px;
    border-radius: 20px;
    border: none;
}
.book:hover{
    background-color: rgba(255, 0, 0, 0.819);
}
.book a{
    color: white;
    text-decoration: none;
}
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 635px;
    background-color: #f2f2f2;
}
.sec1-tit{
    font-family: Ink Free;
    font-size:50px;
    color: rgb(55, 55, 63);
}
.sec1-pr{
   color: color(srgb 0.129412 0.145098 0.160784 / 0.7);
   font-size: 22px;
   font-weight: 400;
   margin-top: 10px;
   
}
.div1-sec1-dv2{
    display: flex;
    margin-top: 30px;
}
.div-watch{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.div-watch i{
    font-size: 30px;
    font-weight: lighter;
    color: red;
    cursor: pointer;
    
}
.Watch{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}
.div2-sec1-img img{
    width: 522px;
    animation-name: ani;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes ani{
    0% {
        margin-top: -30px;
    }
    50% {
       margin-top: 0px;
    }
    100%{
       margin-top: -30px;
    }
}
